<!DOCTYPE html>
<html lang="es">
  <head>
    <title>MATERA</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center my-3">
      <h2>SILLONES FB</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>

    <div class="align-items-center">
      <p>Error 404</p>
    </div>

    <!--FIN PAGINAS-->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
