  <!DOCTYPE html>
<html lang="es">
<head>
    <title>CONTACTOS</title>
     <%- include ('partials/head.html')%>
</head>

<body>
  <!--menú de navegación-->
         <%- include ('partials/menu.html')%>
  <!--Fin del menú de navegación-->

<!-- React -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="like_button_container"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- Fin React -->
    <!-- Carga React. -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <!-- Carga JSX a React -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- JAVASCRIP INTERNO -->
<script src="./javascript/formulario.js"></script>


<!--FOOTER-->
       <%- include ('partials/footer+script.html')%>
<!-- FIN FOOTER-->
