<!DOCTYPE html>
<html lang="es">
<head>
    <title>CONTACTOS</title>
     <%- include ('partials/head.html')%>
</head>

<body>
  <!--menú de navegación-->
         <%- include ('partials/menu.html')%>
  <!--Fin del menú de navegación-->
 
  
  <!-- formulario de contacto en html y css -->  
    <div class="contact_form row">
        <div class="formulario ">            
      <h1>Formulario de contacto</h1>
     <form action="submeter-formulario.php" method="post">  

    <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label for="nombre" class="colocar_nombre">Nombre
         <span class="obligatorio">*</span>
      </label>
         <input class="primary" type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
    </p>
                            
     <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label for="email" class="colocar_email">Email
         <span class="obligatorio">*</span>
        </label>
          <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email">
     </p>
                        
     <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
       <label for="telefone" class="colocar_telefono">Teléfono
         </label>
           <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono">
     </p>   

     <p class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <label for="mensaje" class="colocar_mensaje">Mensaje
            <span class="obligatorio">*</span>
        </label>                     
          <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
     </p>                                    
                            
      <button type="submit" name="enviar_formulario" class="btn btn-primary" id="enviar"><p>Enviar</p></button>

     <p class="aviso">
        <span class="obligatorio"> * </span>los campos son obligatorios.
     </p>                    
                        
     </form>
        </div>  
    </div>

</body>
</html>

<!--FOOTER-->
       <%- include ('partials/footer+script.html')%>
<!-- FIN FOOTER-->

</body>
</html>




 


   
 

