<!DOCTYPE html>
<html lang="es">
  <head>
    <title>CHESTERFIELD</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center my-3">
      <h2>SILLONES FB</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>

      <div class="align-items-center">
        <hr />
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <img class="imagenDP"
              src="imagenes\CHESTER\200727-193710.png"
              alt="CHESTERFIELD"
              title="CHESTERFIELD"
              width="500px"
              height="auto"
            />
            <section>
              <div class="my-3">
                <a
                  class="example-image-link iterm"
                  href="imagenes\CHESTER\200727-193710.png"
                  data-lightbox="example-set"
                  data-title="Click the right half of the image to move forward."
                >
                  <img
                    class="example-image zoom_desaparecer"
                    src="imagenes\CHESTER\200727-193710.png"
                    width="120px"
                    height="80px"
                    alt="CHESTER"
                /></a>
              </div>
            </section>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <h1>CHESTERFIELD</h1>
            <hr width="50%" />
            <h4 class="pt-2">descripcion</h4>
            <i class="fas fa-globe"
              >CHESTERFIELD Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Laboriosam iusto ullam, pariatur veritatis voluptas
              dignissimos ducimus fuga recusandae exercitationem esse laborum
              praesentium necessitatibus quam dolor voluptatibus, dicta corrupti
              ipsum? Fuga. </i
            ><br /><br />
            <a href="" class="btn btn-primary" type="submit">COMPRAR</a
            ><br /><br />
            <a href="" class="btn btn-primary" type="submit"
              >AGREGAR AL CARRITO</a
            >
          </div>
          <br />
        </div>
      </div>
    </div>

    <!--FIN PAGINAS-->

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!--FOOTER-->
    <%- include ('partials/footer+script.html')%>
    <!-- FIN FOOTER-->
  </body>
</html>
