<!DOCTYPE html>
<html lang="es">
  <head>
    <title>ESQUINERO</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->
    <br><br><br><br>
    <div class="container-all m-5" id="move-content">
    <div class="container text-center my-3">
      <div class="align-items-center">
        <hr />
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="imagen">
              <img
              src="imagenes\SILLLONES CLASICOS\cards1.png "
              alt="ESQUINERO"
              title="ESQUINERO"
              width="500px"
              height="auto"
            />
            </div>
            <section>
              <div class="my-3">
                <a
                  class="example-image-link"
                  href="imagenes\SILLLONES CLASICOS\cards1.png "
                  data-lightbox="example-set"
                  data-title="Click the right half of the image to move forward."
                >
                  <img
                    class="example-image zoom_desaparecer"
                    src="imagenes\SILLLONES CLASICOS\cards1.png "
                    width="120px"
                    height="80px"
                    alt=""
                /></a>
              </div>
            </section>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <h2>ESQUINERO</h2>
            <hr width="50%" />
            <h4 class="pt-2">descripcion</h4>
            <i class="fas fa-globe"
              >ESQUINERO 3 cuerpos de 210 Cm ancho y 75 Cm de largo. Almohadones
              placa soft y vellon siliconado, para brindar máximo confort Tachas
              Decorativas al Frente de Cada Brazo Patas de acero Incluidas </i
            ><br /><br />
            <a href="" class="btn btn-primary" type="submit">COMPRAR</a
            ><br /><br />
            <a href="" class="btn btn-primary" type="submit"
              >AGREGAR AL CARRITO</a
            >
          </div>
        </div>
      </div>
      <br />
    </div>
    <!--FIN PAGINAS-->
    <!--FOOTER-->
      <%- include ('partials/footer+script.html')%>>
    <!-- FIN FOOTER-->
  </div>
  </body>
</html>

<!-- ctrl + flecha= Se desplaza palabra por palabra
     ctrl + shift + flecha= selecciona
    shift + fin= selecciona todo
    alt + flecha= desplaza una linea
    shift + alt + flecha= copia una linea y la pega
    shift + alt=
    ctrl + D= selecciona palabras iguales
-->
