<!DOCTYPE html>
<html lang="es">
  <head>
    <title>PATCHWORK</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->
    
    <br><br><br><br>
    <div class="container-all m-5 contenedorCarrito" id="move-content ">
    <div class="container text-center my-3">
      <div class="align-items-center">
        <hr/>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="imagen">
            <img
              src="imagenes/S4.jpg"
              alt="PATCHWORK"
              title="PATCHWORK"
              width="500px"
              height="auto"
            /></div>
            <section>
              <div class="my-3">
                <a
                  class="example-image-link iterm"
                  href="imagenes/S4.jpg"
                  data-lightbox="example-set"
                  data-title="Click the right half of the image to move forward."
                >
                  <img
                    class="example-image zoom_desaparecer"
                    src="imagenes/S4.jpg"
                    width="120px"
                    height="80px"
                    alt=""
                /></a>
              </div>
            </section>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <h2 class="item-title">PATCHWORK</h2>
            <hr width="50%" />
            <h4 class="pt-2">descripcion</h4>
            <i class="fas fa-globe"
              >PATCHWORK Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Laboriosam iusto ullam, pariatur veritatis voluptas
              dignissimos ducimus fuga recusandae exercitationem esse laborum
              praesentium necessitatibus quam dolor voluptatibus, dicta corrupti
              ipsum? Fuga. </i
            ><br /><br />
            <span class="m-3 item-price"><i>precio: $20.000</i></span><br><br>
            <button class="btn btn-primary" type="submit">COMPRAR</button
              
              
              ><br /><br />
                <button class="btn btn-primary carrito">AGREGAR AL CARRITO</button>
  

          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
    <!--FIN PAGINAS-->

    <!--FOOTER-->
        <%- include ('partials/footer+script.html')%>
    <!-- FIN FOOTER-->
  </body>
</html>
