<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SILLON CLASICO</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center my-3">
      <h2>SILLONES FB</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>

      <div class="align-items-center">
        <hr />
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <img class="imagenDP"
              src="imagenes\CHESTER\prueba\producto_1331_1.jpg"
              alt="Sillon Clasico"
              title="Sillon Clasico"
              width="500px"
              height="auto"
            />
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <h1>SILLON CLASICO</h1>
            <hr width="50%" />
            <h4 class="pt-2">descripcion</h4>
            <p class="fas fa-globe"
              >SILLON CLASICO Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Obcaecati illo inventore non quam accusantium deleniti,
              excepturi aliquid, facilis a temp ipsum aspernatur corrupti,
              adipisci error commodi quo eaque saepe deserunt? Quas iste
              voluptas delectus amet maxime, nostrum voluptatum, placeat quasi
              in, hic sequi excepturi iusto! Odit illum cumque maxime alias
              recusandae, ectus ipsum magnam aut? Soluta, ipsum mollitia. Iste,
              quaerat! Patas de acero Incluidas </p><br/><br/>
            <a href="" class="btn btn-primary" type="submit">COMPRAR</a><br /><br />
            <a href="" class="btn btn-primary" type="submit">AGREGAR AL CARRITO</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

    <!--FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
   
  </body>
</html>
