<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILLON CLASICO</title>
    <link rel="shortcut icon" href="imagenes\Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LIGHTBOX --><link rel="stylesheet" href="lightbox2-2.11.3/dist/css/lightbox.min.css">
    <script src="js/script.js"></script>
</head>

<body>
  <!--menú de navegación-->
  <%- include ('partials/menu.html')%>
  <!--Fin del menú de navegación-->

  
  <div class="container text-center my-3">
    <h2 >SILLONES FB</h2>
    <p>Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio costo adicional segun localidad.</p>
  
                              
<div class="align-items-center"><hr>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" alt="Sillon Clasico" title="Sillon Clasico" width="500px" height="auto">
    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4" >
            <h1>SILLON CLASICO</h1>
            <hr width="50%">
            <h4 class="pt-2">descripcion</h4>
            <i class="fas fa-globe">SILLON CLASICO Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illo inventore non quam accusantium deleniti, excepturi aliquid, facilis a tempore ipsum aspernatur corrupti, adipisci error commodi quo eaque saepe deserunt?
            Quas iste voluptas delectus amet maxime, nostrum voluptatum, placeat quasi in, hic sequi excepturi iusto! Odit illum cumque maxime alias recusandae, ectus ipsum magnam aut? Soluta, ipsum mollitia. Iste, quaerat!
                Patas de acero Incluidas </i><br><br>
                <a href="" class="btn btn-primary" type="submit">COMPRAR</a><br><br>
                <a href="" class="btn btn-primary" type="submit">AGREGAR AL CARRITO</a> 
          </div>
      </div>
     </div><br>
      <section>
        <div class="my-3">
          <a class="example-image-link" href="imagenes\CHESTER\sillon 2\2997498_1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
            <img class="example-image zoom_desaparecer" src="imagenes\CHESTER\sillon 2\2997498_1.jpg" width="120px" height="80px" alt=""/></a>

          <a class="example-image-link" href="imagenes\CHESTER\sillon 2\2997498_4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
            <img class="example-image zoom_desaparecer" src="imagenes\CHESTER\sillon 2\2997498_4.jpg" width="120px" height="80px" alt=""/></a>

          <a class="example-image-link" href="imagenes\CHESTER\sillon 2\2997498_5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
            <img class="example-image zoom_desaparecer" src="imagenes\CHESTER\sillon 2\2997498_5.jpg" width="120px" height="80px" alt=""/></a>
     
        </div>
      </section>
  </div>

    <!--FIN PAGINAS-->

<!--FOOTER-->
<%- include ('partials/footer+script.html')%>
<!-- FIN FOOTER-->

</body>
</html>