<!DOCTYPE html>
<html lang="es">
  <head>
    <title>ESQUINEROS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>ESQUINEROS</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
  
      <hr />
      <!-- PRODUCTTOS -->
       <!--PRODUCTOS-->
       <div class="cont">
        <div class="galeria">
         <div class="container text-center">
          <br/>
           <div class="contenedor-imagenes">
            <!-- PRIMERA FILA -->           
            <div class="imagen m-1">
              <a href="/DP_ESQUINERO_1.html">
                <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
                <div class="overlay">
                    <h2>Sillon Venecia 3 cuerpos</h2>
                </div>
              </a>
            </div>
            <div class="imagen m-1">
              <a href="/DP_ESQUINERO_1.html">
                <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
                <div class="overlay">
                    <h2>Sillon Venecia 3 cuerpos</h2>
                </div>
              </a>
            </div>
            <div class="imagen m-1">
              <a href="/DP_ESQUINERO_1.html">
                <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
                <div class="overlay">
                    <h2>Sillon Venecia 3 cuerpos</h2>
                </div>
              </a>
            </div>
           <!-- SEGUNDA FILA -->
           <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>      
           <!-- TERCER FILA -->
           <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" alt="Venecia" title="Venecia">
              <div class="overlay">
                  <h2>Sillon Venecia 3 cuerpos</h2>
              </div>
            </a>
          </div>
 
          </div>
         </div>
        </div>
      </div>
      <!--FIN PRODUCTTOS -->
      
      <!--FIN FILAS-->
      <br />
      <br />
      <!--PAGINAS-->
      <div class="my-5">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
        <a href="" class="btn btn-primary">9</a>
        <a href="" class="btn btn-primary">10</a>
      </div>
    </div>
    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>



     