<!DOCTYPE html>
<html lang="es">
  <head>
    <title>ESQUINEROS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>ESQUINEROS</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />

      <!--PRODUCTOS-->

      <!--PRIMERA FILA-->
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        
        <!--SEGUNDA FILA-->

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>
    
        
        
        <!--TERCERA FILA-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card">
            <div class="card-body">
              <a href="/DP_ESQUINERO_1.html">
              <img src="imagenes\SILLLONES CLASICOS\98a19.jpg" class="card-img-top" alt="Clasico"/>
               </a>
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
            </div>
          </div>
        </div>

     
       



      </div>
      <!--FIN FILAS-->
      <br />
      <br />
      <!--PAGINAS-->
      <div class="my-5">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
        <a href="" class="btn btn-primary">9</a>
        <a href="" class="btn btn-primary">10</a>
      </div>
    </div>
    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
