<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SillonesFB</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <div class="container-fluid slider d-flex justify-content-center">
      <h1 id="principal" class="display-1">SILLONES FB</h1>
    </div>
    <img
      class="container-fluid p-0"
      src="imagenes\bg-1.jpg"
      alt="Logatipo SillonesFB"
      width="1000px"
    />

    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <!-- Productos destacados -->
    <div class="container text-center">
      <h2 class="Bienvenidos">BIENVENIDOS</h2>
      <p class="fabricantesDirectos">
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />
      <div class="main row align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <h2>Chesterfield</h2>
          <img
            src="imagenes\CHESTER/200727-193710.png"
            alt="chesterfield"
            width="300px"
            class="imagenProductoDestacado mt-0"
          />
          <p class="Productosdestacados mt-5">
            Estructura en Madera Saligna de 1 pulgada, perfectamente armada,
            encuadrada, fortalecida con escuadras brindando mayor durabilidad.
            Asientos Super Cómodos Cubiertos con Placa Soft de Poliuretano de
            alta densidad 26 Kg y 13 cms de altura, que ofrecen máximo confort,
            ni pierden la forma (efecto memoria). Es Uno De Los Modelos Mas
            Cómodos, Versátil y Practico!
          </p>
          <a
            target="_blank"
            href="/DP_CHESTERFIELD.html"
            class="btn btn-primary mr-2 boton mt-5"
            ><p>Ver mas</p></a
          >
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <h2>Juego de living</h2>
          <img
            src="imagenes\JUEGOS DE LIVING\200720-142457.png"
            alt="Juego de living"
            width="300px"
            class="imagenProductoDestacado mt-0"
          />
          <p class="Productosdestacados mt-5">
            JUEGOS DE LIVING 250x180 lado de/iz Producto realizado con
            materiales de primera calidad. Estructura reforzada y garantía de 2
            años.Brazo de 20 cm cada uno. TELA: Chenille guliano. Realizada en
            MADERA SALIGNA MAZIZA. Asientos con CINCHAS DE NYLON entrelazadas y
            cubiertas con friselina.Forradas con placa de poliuretano de 26 KG
            de densidad.
          </p>
          <a
            target="_blank"
            href="/DP_JUEGOS_DE_LIVING.html"
            class="btn btn-primary mr-2 boton mt-5"
            ><p>Ver mas</p></a
          >
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <h2>Patchwork</h2>
          <img
            src="imagenes/S4.jpg"
            alt="Italiano"
            width="300px"
            class="imagenProductoDestacado mt-0"
          />
          <p class="Productosdestacados mt-5">
            Estructura de madera teka. tapizado con trabajo artesanal de
            patchwork (trabajo artesanal con retasos de distintas telas ) en
            Jacquard. Tiene 85 cm de alto por 80 cm de ancho x 88 cm de
            profundidad.
          </p>
          <a
            target="_blank"
            href="/DP_PATCHWORK.html"
            class="btn btn-primary mr-2 boton mt-5"
            ><p>Ver mas</p>
          </a>
        </div>
      </div>
    </div>
    <!-- Fin  Productos destacados -->

    <!--MUESTRAS-->
    <div class="container my-5">
     <hr class="">
     
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7">
         <h2 class="display-4"><span>Matera</span> </h2>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5">
         <img class=" img-fluid mx-auto" src=".\imagenes\MATERAS\803772 (1).jpg " alt="Matera" title="Matera">
       </div>
     </div>
     
     <hr class="">
     
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7 push-md-5">
         <h2 class="display-4"><span>Chesterfield</span> </h2>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5 pull-md-7">
         <img class=" img-fluid mx-auto" src=".\imagenes\CHESTER\8cb55dd33ea5.jpg" alt="Chesterfield" title="Chesterfield">
       </div>
     </div>
     
     <hr class="">
  
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7">
         <h2 class="display-4"> <span>VENECIA</span></h2>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5">
         <img class=" img-fluid mx-auto" src="imagenes\VENECIA\cards2.png" alt="VENECIA" title="VENECIA">
       </div>
     </div>
   </div>
    <!-- FIN MUESTRAS--> 

    <!-- DONDE ESTAMOS -->
    <div class="container">
      <h1 class="text-center">Donde estamos?</h1>
      <hr />
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.15145826681!2d-58.57977099958233!3d-34.549720385152554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbb357b704c13%3A0xc3a17ad27d82411e!2sSillones%20FB!5e0!3m2!1ses!2sar!4v1599089384698!5m2!1ses!2sar"
            width="100%"
            height="320"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="contact2">
          <h4 class="pt-2">Ubicacion</h4>
          <i class="fas fa-globe" style="color: #000"></i> Villa Ballester, San
          Martín. San Pedro 6128<br />
          <h4 class="pt-2">Contactos</h4>
          <i class="fab fa-whatsapp" style="color: #000"></i
          ><a href="tel:+"> +54 9 11 6134-8000 </a><br />
          <i class="fab fa-whatsapp" style="color: #000"></i
          ><a href="tel:+"> +54 9 11 6134-8000 </a><br />
          <h4 class="pt-2">Email</h4>
          <i class="fa fa-envelope" style="color: #000"></i
          ><a href="">@sillonesfabianbalbuena</a><br />
          <h4 class="pt-2">Horarios de atencion</h4>
          <i class="fa fa-envelope" style="color: #000"></i
          ><a>Lunes a viernes de 10 a 19 hs. Sabados de 10 a 13 hs</a><br />
        </div>
      </div>
    </div>
    <!-- FIN DONDE ESTAMOS -->
    
    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
