<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SillonesFB</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <div class="container-fluid slider d-flex justify-content-center">
      <h1 class="display-1 Titulo_Principal">SILLONES FB</h1>
    </div>
    <img
      class="container-fluid p-0"
      src="imagenes\bg-1.jpg"
      alt="Logatipo SillonesFB"
      width="1000px"
    />

    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <!-- Productos destacados -->
    <div class="container text-center">
      <h2 class="Bienvenidos">BIENVENIDOS</h2>
      <p class="fabricantesDirectos">
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />
      <div class="main row align-self-center">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">CHESTERFIELD</div>
          <a href="/DP_CHESTERFIELD.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\CHESTER/200727-193710.png" alt="chesterfield" title="CHESTERFIELD" width="350px" class="m-2">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">JUEGOS DE LIVING</div>
          <a href="/DP_JUEGOS_DE_LIVING.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\JUEGOS DE LIVING\200720-142457.png" alt="Juego de living" title="JUEGOS DE LIVING" width="350px" class="m-2"> 
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">PATCHWORK</div>
          <a href="/DP_PATCHWORK.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes/S4.jpg" alt="PATCHWORK" title="PATCHWORK" width="350px" class="m-2">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">CHESTERFIELD</div>
          <a href="/DP_CHESTERFIELD.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\CHESTER/200727-193710.png" alt="chesterfield" title="CHESTERFIELD" width="350px" class="m-2">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">JUEGOS DE LIVING</div>
          <a href="/DP_JUEGOS_DE_LIVING.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\JUEGOS DE LIVING\200720-142457.png" alt="Juego de living" title="JUEGOS DE LIVING" width="350px" class="m-2"> 
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">PATCHWORK</div>
          <a href="/DP_PATCHWORK.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes/S4.jpg" alt="PATCHWORK" title="PATCHWORK" width="350px" class="m-2">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">CHESTERFIELD</div>
          <a href="/DP_CHESTERFIELD.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\CHESTER/200727-193710.png" alt="chesterfield" title="CHESTERFIELD" width="350px" class="m-2">
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">JUEGOS DE LIVING</div>
          <a href="/DP_JUEGOS_DE_LIVING.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes\JUEGOS DE LIVING\200720-142457.png" alt="Juego de living" title="JUEGOS DE LIVING" width="350px" class="m-2"> 
            </div>
          </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mt-5">
          <div class="ProductosDestacados">PATCHWORK</div>
          <a href="/DP_PATCHWORK.html" target="_blank" rel="noopener noreferrer">
            <div class="DivImagenesDestacadas">
              <img class="imagenesDestacadas" src="imagenes/S4.jpg" alt="PATCHWORK" title="PATCHWORK" width="350px" class="m-2">
            </div>
          </a>
        </div>



        </div>
      </div>
    <!-- Fin  Productos destacados -->

    <!--MUESTRAS
    <div class="container my-5">
     <hr class="">
     
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7">
         <div class="display-4">Matera< </div>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5">
         <img class=" img-fluid mx-auto" src=".\imagenes\MATERAS\803772 (1).jpg " alt="Matera" title="Matera">
       </div>
     </div>
     
     <hr class="">
     
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7 push-md-5">
         <div class="display-4">Chesterfield< </div>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5 pull-md-7">
         <img class=" img-fluid mx-auto" src=".\imagenes\CHESTER\8cb55dd33ea5.jpg" alt="Chesterfield" title="Chesterfield">
       </div>
     </div>
     
     <hr class="">
  
     <div class="row d-flex align-items-center my-5 py-5">
       <div class="col-md-7">
         <div class="display-4"> VENECIA<</h2>
         <p class="lead">Descripcion y medidas</p>
       </div>
       <div class="col-md-5">
         <img class=" img-fluid mx-auto" src="imagenes\VENECIA\cards2.png" alt="VENECIA" title="VENECIA">
       </div>
     </div>
   </div>
    <!-- FIN MUESTRAS--> 

    <!-- DONDE ESTAMOS -->
    <div class="container mt-5">
      <h1 class="text-center">Donde estamos?</h1>
      <hr />
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.15145826681!2d-58.57977099958233!3d-34.549720385152554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbb357b704c13%3A0xc3a17ad27d82411e!2sSillones%20FB!5e0!3m2!1ses!2sar!4v1599089384698!5m2!1ses!2sar"
            width="100%"
            height="320"
            frameborder="0"
            style="border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="contact2">
          <h4 class="pt-2">Ubicacion</h4>
          <i class="fa fa-globe" style="color: #000"></i>Buenos aires, San
          Martín. San Pedro 6128<br />
          <h4 class="pt-2">Contactos</h4>
          <i class="fa fa-whatsapp" style="color: #000"> Celular: </i
          ><a href="tel:+"> +54 9 11 3817-0024 </a><br />
          <i class="fa fa-phone" style="color: #000"> Telefono fijo: </i
          ><a href="tel:+"> +54 9 11 6134-8000 </a><br />
          <h4 class="pt-2">Email</h4>
          <i class="fa fa-envelope" style="color: #000"></i
          ><a href="">@sillonesfabianbalbuena</a><br />
          <h4 class="pt-2">Horarios de atencion</h4>
          <i class="fa fa-home" style="color: #000"></i
          ><a> Lunes a viernes de 10 a 19 hs. Sabados de 10 a 13 hs</a><br />
          
        </div>
      </div>
    </div>
    <!-- FIN DONDE ESTAMOS -->
    
    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
    <!-- <script src="app.js"></script> -->
  </body>
</html>
