<!DOCTYPE html>
<html lang="es">
  <head>
    <title>MATERAS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>MATERAS</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />

      <!--PRODUCTOS-->

      <!-- ctrl + flecha= Se desplaza palabra por palabra
     ctrl + shift + flecha= selecciona
    shift + fin= selecciona todo
    alt + flecha= desplaza una linea
    shift + alt + flecha= copia una linea y la pega
    shift + alt=
    ctrl + D= selecciona palabras iguales
-->

      <div class="row row-cols-1 row-cols-md-3">
        <!--PRIMERA FILA-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_1.html" >
              <img
                src="imagenes\MATERAS\db9806d258ab.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">MATERA BEIGH NARANJA Y PURPURA</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_2.html">
              <img
                src="imagenes\MATERAS\0e28dbbb1810.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">Matera con cosas</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_3.html">
              <img
                src="imagenes\MATERAS\9e1ab6f3194a.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">MATERA BEIGH NARANJA Y PURPURA</h5>
              </a>
            </div>
          </div>
        </div>
        <!--SEGUNDA FILA-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_4.html">
              <img
                src="imagenes\MATERAS\f0ac067e36c4.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">MATERA BEIGH NARANJA Y PURPURA</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_5.html">
              <img
                src="imagenes\MATERAS\540c8b68-6e0b-485b-ac4e-7dfd3b97d7be.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <a href="/DP_MATERA_6.html">
              <img
                src="imagenes\MATERAS\803772 (1).jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">MATERA BEIGH NARANJA Y PURPURA</h5>
              </a>
            </div>
          </div>
        </div>
        <!--TERCERA FILA-->
      </div>

      <!--FIN FILAS-->
      <br />
      <br />
      <!--PAGINAS-->

      <div class="my-5">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
        <a href="" class="btn btn-primary">9</a>
        <a href="" class="btn btn-primary">10</a>
      </div>
    </div>
    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
