<!DOCTYPE html>
<html lang="es">
  <head>
    <title>MATERAS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>MATERAS</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />

      <!--PRODUCTOS-->
      <div class="cont mb-5">
        <div class="galeria">
         <div class="container text-center">
          <br/>
           <div class="contenedor-imagenes">
            <!-- PRIMERA FILA -->           
            <div class="imagen m-1">
              <a href="/DP_MATERA_3.html">
                <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
                <div class="overlay">
                    <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
                </div>
              </a>
            </div>
            <div class="imagen m-1">
              <a href="/DP_MATERA_3.html">
                <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
                <div class="overlay">
                    <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
                </div>
              </a>
            </div>
            <div class="imagen m-1">
              <a href="/DP_MATERA_3.html">
                <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
                <div class="overlay">
                    <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
                </div>
              </a>
            </div>
           <!-- SEGUNDA FILA -->
           <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
           <!-- TERCER FILA -->
           <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
          <div class="imagen m-1">
            <a href="/DP_MATERA_3.html">
              <img src="imagenes\MATERAS\9e1ab6f3194a.jpg" alt="MATERA" title="MATERA">
              <div class="overlay">
                  <h2>MATERA BEIGH NARANJA Y PURPURA</h2>
              </div>
            </a>
          </div>
          </div>
         </div>
        </div>
      </div>

      <!--PRODUCTOS-->

      <!--PAGINAS-->

      <div class="mt-1 text-center">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
        <a href="" class="btn btn-primary">9</a>
        <a href="" class="btn btn-primary">10</a>
      </div>

    
  </div>
    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
