<!DOCTYPE html>
<html lang="es">
  <head>
    <title>MATERAS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->
      <br>
      <br>
      <br>
      <br>
      <br>

    <div class="container text-center">
      <h2>MATERAS</h2>
      <br />
      <div class="row mt-3">
        <!--PRIMERA FILA-->

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="item shadow mb-4">
            <div class="card-body">
            <img class="item-image" src="imagenes\MATERAS\db9806d258ab.jpg" width="250px" alt="Matera">
              <h5 class="item-title">MATERA BEIGH NARANJA</h5>
              <h4 class="item-price">$10500</h4>
              <div class="item-details">
                <a class="btn btn-primary" href="/DP_MATERA_1.html">Ver mas</a>
                <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
            </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="item shadow mb-4">
            <div class="card-body">
            <img class="item-image" src="imagenes\MATERAS\0e28dbbb1810.jpg" width="250px" alt="Matera">
              <h5 class="item-title">MATERA BEIGH NARANJA</h5>
              <h4 class="item-price">$700</h4>
              <div class="item-details">
                <a class="btn btn-primary" href="/DP_MATERA_2.html">Ver mas</a>
                <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
            </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="item shadow mb-4">
            <div class="card-body">
            <img class="item-image" src="imagenes\MATERAS\9e1ab6f3194a.jpg" width="250px" alt="Matera">
              <h5 class="item-title">MATERA negro/azul/gris</h5>
              <h4 class="item-price">$6500</h4>
              <div class="item-details">
                <a class="btn btn-primary" href="/DP_MATERA_3.html">Ver mas</a>
                <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
            </div>
            </div>
          </div>
        </div>
          <!--SEGUNDA FILA-->

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="item shadow mb-4">
              <div class="card-body">
              <img class="item-image" src="imagenes\MATERAS\f0ac067e36c4.jpg" width="250px" alt="Matera">
                <h5 class="item-title">MATERA BEIGH NARANJA</h5>
                <h4 class="item-price">$5500</h4>
                <div class="item-details">
                  <a class="btn btn-primary" href="/DP_MATERA_4.html">Ver mas</a>
                  <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
              </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class=" item shadow mb-4">
              <div class="card-body">
              <img class="item-image" src="imagenes\MATERAS\540c8b68-6e0b-485b-ac4e-7dfd3b97d7be.jpg" width="250px" alt="Matera">
                <h5 class="item-title">MATERA</h5>
                <h4 class="item-price">$5000</h4>
                <div class="item-details">
                  <a class="btn btn-primary" href="/DP_MATERA_5.html">Ver mas</a>
                  <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
              </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class=" item shadow mb-4">
              <div class="card-body">
              <img class="item-image" src="imagenes\MATERAS\803772 (1).jpg" width="250px" alt="Matera">
                <h5 class="item-title">MATERA</h5>
                <h4 class="item-price">$6000</h4>
                <div class="item-details">
                  <a class="btn btn-primary" href="/DP_MATERA_6.html">Ver mas</a>
                  <button class="item-button btn btn-primary addToCart">Añadir al  carrito</button>
              </div>
              </div>
            </div>
          </div>



  
            <!--TERCERA FILA-->
          </div>
      <!--PRODUCTOS-->



      <!-- START SECTION SHOPPING CART -->
      <section class="shopping-cart">
        <div class="container">
            <h1 class="text-center">CARRITO</h1>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <!-- ? START SHOPPING CART ITEMS -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
            </div>
            <!-- ? END SHOPPING CART ITEMS -->

            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total</p>
                        <p class="ml-4 mb-0 shoppingCartTotal">0€</p>
                        <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                            data-delay="2000">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                Se aumentó correctamente la cantidad
                            </div>
                        </div>
                        <button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
                            data-target="#comprarModal">Comprar</button>
                    </div>
                </div>
            </div>

            <!-- END TOTAL -->

            <!-- START MODAL COMPRA -->
            <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Pronto recibirá su pedido</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL COMPRA -->


        </div>

    </section>
    <!-- END SECTION SHOPPING CART -->

    <!-- FIN PAGINAS-->

    <!--FOOTER-->
        <%- include ('partials/footer+script.html')%>
    <!-- FIN FOOTER-->
  </body>
</html>