<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SILLONES</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>SILLONES</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />

      <!--PRODUCTOS-->


  <div class="cont">
   <div class="galeria">
    <div class="container text-center">
     <br/>
      <div class="contenedor-imagenes">
       <!-- PRIMERA FILA -->           
       <div class="imagen m-1">
         <a href="/DP_SILLON_CLASICO.html">
           <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" alt="Sillon Venecia" title="JUEGOS DE LIVING">
           <div class="overlay">
               <h2>Sillon Venecia 2 cuerpos mas 2 puff</h2>
           </div>
         </a>
       </div>
       <div class="imagen m-1">
         <a href="/DP_SILLON_CLASICO2.html">
          <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" alt="Sillon clasico" title="Sillon clasico">
           <div class="overlay">
               <h2>Sillon clasico</h2>
           </div>
         </a>
       </div>
       <div class="imagen m-1">
         <a href="/DP_SILLON_CLASICO3.html">
           <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" alt="Sillon Venecia" title="Sillon Venecia">
           <div class="overlay">
               <h2>Sillon Venecia 1 cuerpo beige</h2>
          </div>
        </a>
      </div>
      <!-- SEGUNDA FILA -->
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO.html">
          <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" alt="Sillon Venecia" title="JUEGOS DE LIVING">
          <div class="overlay">
              <h2>Sillon Venecia 2 cuerpos mas 2 puff</h2>
          </div>
        </a>
      </div>
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO2.html">
          <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" alt="Sillon clasico" title="Sillon clasico">
          <div class="overlay">
              <h2>Sillon clasico</h2>
          </div>
        </a>
      </div>
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO3.html">
          <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" alt="Sillon Venecia" title="Sillon Venecia">
          <div class="overlay">
              <h2>Sillon Venecia 1 cuerpo beige</h2>
          </div>
        </a>
      </div>
      <!-- TERCER FILA -->
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO.html">
          <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" alt="Sillon Venecia" title="JUEGOS DE LIVING">
          <div class="overlay">
              <h2>Sillon Venecia 2 cuerpos mas 2 puff</h2>
          </div>
        </a>
      </div>
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO2.html">
          <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" alt="Sillon clasico" title="Sillon clasico">
          <div class="overlay">
              <h2>Sillon clasico</h2>
          </div>
        </a>
      </div>
      <div class="imagen m-1">
        <a href="/DP_SILLON_CLASICO3.html">
          <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" alt="Sillon Venecia" title="Sillon Venecia">
          <div class="overlay">
              <h2>Sillon Venecia 1 cuerpo beige</h2>
          </div>
        </a>
      </div>
     </div>
    </div>
   </div>
 </div>
      <!--FIN FILAS-->
      <br />
      <br />
      <!--PAGINAS-->

      <div class="mt-1 hojas">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
      </div>
      
    </div>

    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>