<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILLONES</title>
    <link rel="shortcut icon" href="imagenes\Logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LIGHTBOX --><link rel="stylesheet" href="lightbox2-2.11.3/dist/css/lightbox.min.css">
    <script src="js/script.js"></script>
</head>

<body>
  <!--menú de navegación-->
  <%- include ('partials/menu.html')%>
  <!--Fin del menú de navegación-->
  
  <div class="container text-center">
    <h2 >SILLONES</h2>
    <p>Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio costo adicional segun localidad.</p><br>
   <hr> 

  <!--PRODUCTOS-->

<div class="row row-cols-1 row-cols-md-3">
  <!--PRIMERA FILA-->
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO.html">Ver mas</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon clasico</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO2.html">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon Venecia 1 cuerpo beige</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO3.html">Ver mas</a>
      </div>
    </div>
  </div>
    <!--SEGUNDA FILA-->
    <div class="col mb-4 my-3">
      <div class="card">
        <div class="card-body">
        <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
          <a class="btn btn-primary" href="/DP_SILLON_CLASICO.html">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col mb-4 my-3">
      <div class="card">
        <div class="card-body">
        <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">Sillon clasico</h5>
          <a class="btn btn-primary" href="/DP_SILLON_CLASICO2.html">Ver mas</a>
        </div>
      </div>
    </div>
    <div class="col mb-4 my-3">
      <div class="card">
        <div class="card-body">
        <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" class="card-img-top" alt="...">
          <h5 class="card-title">Sillon Venecia 1 cuerpo beige</h5>
          <a class="btn btn-primary" href="/DP_SILLON_CLASICO3.html">Ver mas</a>
        </div>
      </div>
    </div>
      <!--TERCERA FILA-->
  <div class="col mb-4 my-3">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\prueba\producto_1331_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO.html">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col mb-4 my-3">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\sillon 2\2997498_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon clasico</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO2.html">Ver mas</a>
      </div>
    </div>
  </div>
  <div class="col mb-4 my-3">
    <div class="card">
      <div class="card-body">
      <img src="imagenes\CHESTER\sillon 3\2674688_1.jpg" class="card-img-top" alt="...">
        <h5 class="card-title">Sillon Venecia 1 cuerpo beige</h5>
        <a class="btn btn-primary" href="/DP_SILLON_CLASICO3.html">Ver mas</a>
      </div>
    </div>
  </div>
</div>

<!--FIN FILAS-->

<br>
<br>
<!--PAGINAS-->

<div class="my-5 hojas">
  <a href="" class="btn btn-primary">1</a>
  <a href="" class="btn btn-primary">2</a>
  <a href="" class="btn btn-primary">3</a>
  <a href="" class="btn btn-primary">4</a>
  <a href="" class="btn btn-primary">5</a>
  <a href="" class="btn btn-primary">6</a>
  <a href="" class="btn btn-primary">7</a>
  <a href="" class="btn btn-primary">8</a>
  <a href="" class="btn btn-primary">9</a>
  <a href="" class="btn btn-primary">10</a>
  </div>
</div>

<!-- FIN PAGINAS-->

<!--FOOTER-->
 
<%- include ('partials/footer+script.html')%>
 
<!-- FIN FOOTER-->

</body>
</html>
