<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SILLAS</title>
    <%- include ('partials/head.html')%>
  </head>

  <body>
    <!--menú de navegación-->
    <%- include ('partials/menu.html')%>
    <!--Fin del menú de navegación-->

    <div class="container text-center">
      <h2>SILLAS</h2>
      <p>
        Somos fabricantes directos en Villa Ballester, San Martin. Aceptamos
        tarjetas Visa o MasterCard (credito). Realizamos envios a domicilio
        costo adicional segun localidad.
      </p>
      <br />
      <hr />

      <!--PRODUCTOS-->

      <div class="row row-cols-1 row-cols-md-3">
        <!--PRIMERA FILA-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\47c9c54dea35.jpg"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\67be3606974e.jpg"
                class="card-img-top"
                alt="Matera"
              />
              <h5 class="card-title">Matera con cosas</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\241aeda55fac.jpg"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <!--SEGUNDA FILA-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\a8a3556884be.jpg"
                class="card-img-top"
                alt="..."
              />

              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\c01fc6d05671.jpg"
                width="500px"
                class="card-img-top"
                alt="..."
              />

              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\c731d051fbcd.jpg"
                class="card-img-top"
                alt="..."
              />

              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <!--TERCERA FILA-->
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\c01fc6d05671.jpg"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\7e39f3b9c347.jpg"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Sillon Venecia 3 cuerpos mas puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <img
                src="imagenes\SILLAS Y MESAS\67be3606974e.jpg"
                class="card-img-top"
                alt="..."
              />
              <h5 class="card-title">Sillon Venecia 2 cuerpos mas 2 puff</h5>
              <button type="submit" class="btn btn-primary">Ver mas</button>
            </div>
          </div>
        </div>
      </div>

      <!--FIN FILAS-->

      <br />
      <br />
      <!--PAGINAS-->
      <div class="my-5">
        <a href="" class="btn btn-primary">1</a>
        <a href="" class="btn btn-primary">2</a>
        <a href="" class="btn btn-primary">3</a>
        <a href="" class="btn btn-primary">4</a>
        <a href="" class="btn btn-primary">5</a>
        <a href="" class="btn btn-primary">6</a>
        <a href="" class="btn btn-primary">7</a>
        <a href="" class="btn btn-primary">8</a>
        <a href="" class="btn btn-primary">9</a>
        <a href="" class="btn btn-primary">10</a>
      </div>
    </div>
    <!-- FIN PAGINAS-->

    <!--FOOTER-->

    <%- include ('partials/footer+script.html')%>

    <!-- FIN FOOTER-->
  </body>
</html>
