<!--footer-->
<footer class="container-fluid bg-inverse mt-5 p-5 align-self-center">
  <div class="row text-white py-6 text-white">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>© 2020 Leonel Bahamonde</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>Términos y condiciones</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>Políticas de privacidad</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>Ayuda</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>Medios de pago: </p>
      <img src="imagenes\Medios de pago\visa@2x.png" alt="Visa" title="Visa" width="40px">
      <img src="imagenes\Medios de pago\amex@2x.png" alt="American Express" title="American Express" width="40px">
      <img src="imagenes\Medios de pago\banelco@2x.png" alt="banelco" title="banelco" width="40px">
      <img src="imagenes\Medios de pago\cabal@2x.png" alt="cabal" title="cabal" width="40px"><br>
      <img src="imagenes\Medios de pago\cencosud@2x.png" alt="cencosud" title="cencosud" width="40px">
      <img src="imagenes\Medios de pago\mastercard@2x.png" alt="mastercard" title="mastercard" width="40px">
      <img src="imagenes\Medios de pago\mercadopago@2x.png" alt="Mercado pago" title="Mercado pago" width="40px">
      <img src="imagenes\Medios de pago\pagofacil@2x.png" alt="pagofacil" title="pagofacil" width="40px"><br>
      <img src="imagenes\Medios de pago\rapipago@2x.png" alt="rapipago" title="rapipago" width="40px">
      <img src="imagenes\Medios de pago\tarjeta-naranja@2x.png" alt="tarjeta naranja" title="tarjeta naranja" width="40px">
      <img src="imagenes\Medios de pago\tarjeta-shopping@2x.png" alt="tarjeta shopping" title="tarjeta shopping" width="40px">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <p>Formas de envio</p>
      <img src="imagenes\Medios de pago\formas de envio\oca@2x.png" alt="OCA" title="OCA" width="60px">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-2">
      <p>Redes sociales</p>
      <a target="_blank" href="https://www.facebook.com/sillonesfabianbalbuena/"><i class="fa fa-facebook-square fa-2x mr-sm-4  m-1" aria-hidden="true" title="Facebook"></i></a>
      <a target="_blank" href="https://www.instagram.com/sillones.fb/"><i class="fa fa-instagram fa-2x mr-sm-4  m-1" aria-hidden="true" title="Instagram"></i></a>
      <!-- <a target="_blank" href="https://api.whatsapp.com/send?phone=5491138170024"><i class="fa fa-whatsapp fa-2x mr-sm-4 " aria-hidden="true" title="Whatsapp"></i></a> -->
    </div>
  </div>
</footer>
<!-- FIN footer-->

<!-- BOOBSTRAP -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
<!--LIGHT BOX 
<script src="lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>-->

