<!--footer-->
<footer class="container-fluid bg-inverse mt-5 align-self-center">
  <div class="row text-white py-6 text-white">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <p>© 2020 Leonel Bahamonde</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <p>Términos y condiciones</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <p>Políticas de privacidad</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <p>Ayuda</p>
    </div>
  </div>
      <div class="container" >
        <a target="_blank" href="https://www.facebook.com/sillonesfabianbalbuena/"><i class="fa fa-facebook-square fa-3x mr-sm-4 m-2" aria-hidden="true" title="Facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/sillones.fb/"><i class="fa fa-instagram fa-3x mr-sm-4 m-2" aria-hidden="true" title="Instagram"></i></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5491138170024"><i class="fa fa-whatsapp fa-3x mr-sm-4 m-2" aria-hidden="true" title="Whatsapp"></i></a>
      </div>
</footer>

<!-- FIN footer-->

<!-- JAVASCRIP INTERNO -->

<script src="https://github.com/Leo-Bahamonde/SILLONES.FB/blob/master/src/publica/javaScript/js.js#L1"></script>
<!-- BOOBSTRAP -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>
<!--LIGHT BOX 
<script src="lightbox2-2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>-->

