<header>
  <div class="header-content">
      <div class="logo">
          <h1>Sillones<b>FB</b></h1>
      </div>
      <div class="menu" id="show-menu">
          <nav>
              <ul>
                  <li class="menu-select"><a href="/" class="text-select"><i class="fas fa-home"></i>Inicio</a></li>
                  <li class="menu-select"><a href="/sillones" class="text-select"><i class="fas fa-circle"></i>Sillones</a></li>
                  <li class="menu-select"><a href="/Esquineros" class="text-select"><i class="fas fa-circle"></i>Esquineros</a></li>
                  <li class="menu-select"><a href="/Materas" class="text-select"><i class="fas fa-circle"></i>Materas</a></li>
                  <li class="menu-select"><a href="/contactos" class="text-select"><i class="fas fa-id-badge"></i>Contactos</a></li>
              </ul>                   
          </nav>

      </div>

  </div>
          <div id="icon-menu">
              <i class="fas fa-bars"></i>
          </div>

</header>

<div class="container-all">
  <!-- CONTENIDO -->
</div>








































































  <!-- <div class="container-fluid sticky-top p-0">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">SILLONES FB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a href="index.html" class="nav-link dropdown-toggle " data-toggle="dropdown" data-target="desplegable">CATALOGO</a>
        <div class="dropdown-menu navbar-dark">
        <a class="dropdown-item" href="/sillones">Sillones </a>
        <a class="dropdown-item" href="/Esquineros">Esquineros</a>
         <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Materas">Matera</a> 
      </li>
      <li class="navbar-item"><a href= "/contactos" class="nav-link">CONTACTOS</a></li>  
    </ul>
  </div>
</nav> 
</div>


 -->