<header>
  <div class="header-content">
      <div class="logo">
          <h1>Sillones<b>FB</b></h1>
      </div>
      <div class="menu" id="show-menu">
          <nav>
              <ul>
                  <li class="menu-select"><a href="/" class="text-select"><i class="fas fa-home"></i>Inicio</a></li>
                  <li class="menu-select"><a href="/sillones" class="text-select"><i class="fas fa-circle"></i>Sillones</a></li>
                  <li class="menu-select"><a href="/Esquineros" class="text-select"><i class="fas fa-circle"></i>Esquineros</a></li>
                  <li class="menu-select"><a href="/Materas" class="text-select"><i class="fas fa-circle"></i>Materas</a></li>
                  <li class="menu-select"><a href="/contactos" class="text-select"><i class="fas fa-id-badge"></i>Contactos</a></li>
              </ul>                   
          </nav>

      </div>
      <!-- lupa -->
    

  </div>     <!-- icon menu -->
              

</header>

<div id="ctn-bars-search">
  <input type="text" id="inputSearch" placeholder="¿Que deseas buscar?">
</div>

<ul id="box-search">
  <li><a href="/DP_MATERA_3.html"><i class="fas fa-search"></i>materas</a></li>
  <li><a href="/DP_SILLON_CLASICO.html"><i class="fas fa-search"></i>2 cuerpos</a></li>
  <li><a href="DP_SILLON_CLASICO2.html"><i class="fas fa-search"></i>clasico</a></li>
  <li><a href="DP_SILLON_CLASICO3.html"><i class="fas fa-search"></i>1 cuerpo</a></li>
  <li><a href="DP_JUEGOS_DE_LIVING.html"><i class="fas fa-search"></i>juegop de living</a></li>
  <li><a href="/DP_PATCHWORK.html"><i class="fas fa-search"></i>patchwork</a></li>
  <li><a href="/DP_CHESTERFIELD.html"><i class="fas fa-search"></i>chesterfield</a></li>
  <li><a href="/sillones.html"><i class="fas fa-search"></i>sillones</a></li>
</ul>


<div id="cover-ctn-search"></div>



<!-- <div class="container-all">
  
</div>
 -->







































































  <!-- <div class="container-fluid sticky-top p-0">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">SILLONES FB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a href="index.html" class="nav-link dropdown-toggle " data-toggle="dropdown" data-target="desplegable">CATALOGO</a>
        <div class="dropdown-menu navbar-dark">
        <a class="dropdown-item" href="/sillones">Sillones </a>
        <a class="dropdown-item" href="/Esquineros">Esquineros</a>
         <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/Materas">Matera</a> 
      </li>
      <li class="navbar-item"><a href= "/contactos" class="nav-link">CONTACTOS</a></li>  
    </ul>
  </div>
</nav> 
</div>


 -->