<div class="container-fluid sticky-top p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
      <a class="navbar-brand" id="menuCSS" href="/">SILLONES FB</a>
      <button class="navbar navbar-toggler" data-target="#menu" data-toggle= "collapse" type="button"> 
        <span class="navbar-toggler-icon"></span>
      </button> 
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a href="index.html" class="nav-link dropdown-toggle " data-toggle="dropdown" data-target="desplegable">CATALOGO</a>
              <div class="dropdown-menu navbar-dark">
              <a class="dropdown-item" href="/sillones">Sillones </a>
              <a class="dropdown-item" href="/Esquineros">Esquineros</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Materas">Matera</a> 
            </li>
              <li class="navbar-item" ><a href= "/contactos" class="nav-link">CONTACTOS</a></li>
      </ul>
        <a target="_blank" href="https://www.instagram.com/sillones.fb/" class="btn btn-outline-danger mr-2">Instagram</a>
        <a target="_blank" href="https://www.facebook.com/sillonesfabianbalbuena/" class="btn btn-outline-primary mr-2">Facebook</a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5491138170024" class="btn btn-outline-success mr-2">Whatsapp</a>
      </form>
    </div>  
    </nav>
  </div><br>
  
 